/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
  align-items: center;
}

/* Nav logo */
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon-1 {
  margin-right: 20px;
  margin-left: 10px;
}
.logo img {
  object-fit: contain;
  width: 100px;
}

i {
  font-size: 1.5rem;
  color: #666666;
  cursor: pointer;
}
/* Navigation Middle Part */

.middle-nav {
  display: flex;
  flex: 1;
  justify-content: center;
}

.middle-nav input {
  width: 50%;
}

.middle-nav-button {
  padding-left: 26px;
  padding-right: 26px;
}

/* Navigation Right-Side Part */

.right-side-nav {
  margin-right: 10px;
}

.right-side-nav i {
  margin-left: 30px;
}

/* Main Video Body Part */

main {
  background-color: #f9f9f9;
  height: 100%;
  width: 100%;
}

figure {
  padding-top: 20px;
  padding-left: 100px;
  width: 70%;
}

figcaption {
  font-size: 20px;
  padding: 10px;
}

.views-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.views-left {
  display: flex;
  align-items: center;
}

p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
}

.views-left i {
  font-size: 0.2rem;
}

.view-right {
  display: flex;
}

.view-right i {
  font-size: 1rem;
}
/* Side bar */

aside {
  background-color: black;
}
